@model IEnumerable<Blog.Models.Article>

@{
    ViewBag.Title = "List";
}

<div class="container">
    <div class="row">
        @foreach (var article in Model)
        {
            <div class="col-sm-6">
                <article>
                    <header>
                        <h2>
                            @Html.ActionLink(@article.Title, "Details", "Article", new { @id = article.Id }, null)
                        </h2>
                    </header>
                    <p>
                        @article.Description
                    </p>
                    <footer class="pull-left">
                        <small class="author">
                            posted by: <b>@article.Author.FullName</b> ~ posted on: <b>@article.Date</b>
                        </small>
                    </footer>
                </article>
            </div>
        }
    </div>
</div>
@*<hr />*@



@*@model IEnumerable<Blog.Models.Article>

    @{
        ViewBag.Title = "Articles";
    }

    <h2>Articles</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    @*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>*@

@*@foreach (var item in Model)
{
    // <tr>
    <h1>
        @Html.DisplayFor(modelItem => item.Title)
    </h1>
    <p>
        @Html.DisplayFor(modelItem => item.Description)
    </p>
        <p>
            Posted on:
            @Html.DisplayFor(modelItem => item.Date)
        </p>
        <p>
            Posted by:
            @Html.DisplayFor(modelItem => item.Author.FullName)
        </p>*@
        @*<td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
    // </tr>
}


@*</table>*@
